body{
	min-height: 1000px;
}
.index-head{
	width:100%;
	height: 800px;
	background: url(../image/bd.png) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:100% 100%;
}